Options +FollowSymlinks
RewriteEngine On
RewriteBase /Projet-Cabinet-Medical/


# AUTHENTIFICATION
RewriteRule ^auth$ Auth/auth_api.php


# MEDECINS
RewriteRule ^medecins$ App/Medecins/index_medecins.php
RewriteRule ^medecins/([0-9]+)$ App/Medecins/index_medecins.php?id=$1

# USAGERS
RewriteRule ^usagers$ App/Usagers/index_usagers.php
RewriteRule ^usagers/([0-9]+)$ App/Usagers/index_usagers.php?id=$1

# CONSULTATIONS
RewriteRule ^consultations$ App/Consultations/index_conultations.php
RewriteRule ^consultations/([0-9]+)$ App/Consultations/index_conultations.php?id=$1

# STATISTIQUES
RewriteRule ^stats/medecins$ App/Stats/index_stat_consultations.php?stat=medecins
RewriteRule ^stats/usagers$ App/Stats/index_stat_usagers.php?stat=usagers