Options +FollowSymlinks
RewriteEngine On
RewriteBase /Projet-Cabinet-Medical/

# MEDECINS
RewriteRule ^app/medecins$ App/App_Medecins/index_medecins.php
RewriteRule ^app/medecins/([0-9]+)$ App/App_Medecins/index_medecins.php?id=$1

# USAGERS
RewriteRule ^app/usagers$ App/App_Usagers/index_usagers.php
RewriteRule ^app/usagers/([0-9]+)$ App/App_Usagers/index_usagers.php?id=$1

# CONSULTATIONS
RewriteRule ^app/consultations$ App/App_Consultations/index_consultations.php
RewriteRule ^app/consultations/([0-9]+)$ App/App_Consultations/index_consultations.php?id=$1

# STATISTIQUES
RewriteRule ^app/stats/medecins$ App/App_Stats/index_stat_consultations.php?stat=medecins
RewriteRule ^app/stats/usagers$ App/App_Stats/index_stat_usagers.php?stat=usagers