Options +FollowSymlinks
RewriteEngine On
RewriteBase /App/


# MEDECINS
RewriteRule ^App/medecins$ Medecins/index_medecins.php
RewriteRule ^App/medecins/([0-9]+)$ Medecins/index_medecins.php?id=$1

# USAGERS
RewriteRule ^App/usagers$ Usagers/index_usagers.php
RewriteRule ^App/usagers/([0-9]+)$ /Usagers/index_usagers.php?id=$1

# CONSULTATIONS
RewriteRule ^App/consultations$ Consultations/index_consultations.php
RewriteRule ^App/consultations/([0-9]+)$ Consultations/index_consultations.php?id=$1

# STATISTIQUES
RewriteRule ^App/stats/medecins$ Stats/index_stat_consultations.php?stat=medecins
RewriteRule ^App/stats/usagers$ Stats/index_stat_usagers.php?stat=usagers